[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
peewee = "*"
pymysql = "*"
slack-machine = "*"
texttable = "*"
pyppeteer = "*"
"delegator.py" = "*"

[dev-packages]
ipython = "*"
pylint = "*"

[requires]
python_version = "3.7.0"
